@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #020235;
}

section#pop-up{
    &{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 20%;
        height: 100%;
        background-color: #00000098;
    }
    & h2{
        display: inline;
        margin: auto;
        color: white;
        text-transform: capitalize;
    }
    & > div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-43%);
        width: 360px;
        height: 300px;
        padding: 10px;
        border-radius: 5px;
        background-image: linear-gradient(to right, red,#0000c4);
    }
    & > div > div{
        margin-bottom: 10px;
        text-align: center;
    }
    & > div > div > label{
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 0px 1px 5px black;
    }
    & > div > div > label#o_name{
        color: red;
    }
    & > div > div > label#x_name{
        color: blue;
    }
    & > div > div > input{
        padding: 5px;
        font-size: 16px;
    }
    & > div > div > input#iplayer_o:focus-within{
        border: 1px solid red;
        outline: 1px solid red;
    }
    & > div > div > input#iplayer_x:focus-within{
        border: 1px solid blue;
        outline: 1px solid blue;
    }
    & > div > input#iplay{
        display: block;
        width: 100px;
        height: 30px;
        margin-top: 500px;
        margin: auto;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: .3s;
    }
    & > div > input#iplay:hover{
        scale: 95%;
    }
    & p#warn{
        text-shadow: 0px 1px 2px #00000091;
        color: transparent;
        font-size: 13px;
        margin-bottom: 5px; 
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}
/*NESTING CSS DOES NOT WORK WITH @KEYFRAMES*/
section#pop-up > div{
    animation: show 1s linear;
}
@keyframes show {
    0%{
        scale: 0%;
    } 50%{
        scale: 103%;
    } 100%{
        scale: 100%;
    }
}
section#pop-up h2#cursor{
    animation: cursor infinite 990ms;
}
@keyframes cursor {
    0%{
        color: transparent;
    } 40%{
        color: whitesmoke;
    } 100%{
        color: transparent;
    }
}

header{
    &{
        height: 20%;
    }
    & > section{
        display: flex;
        flex-basis: 300px;
        justify-content: center;
        text-align: center;
        text-align: center;
        margin: auto;
    }
    & > section > span{
        margin: 0 10px;
        color: white;
    }
    & > section > span#vs{
        font-weight: bolder;
        font-size: 10px;
        transform: translate(0,25%);
    }
    & > section > span#oplayer{
        color: red;
    }
    & > section > span#xplayer{
        color: blue;
    }
    & > section > span > div{
        text-transform: uppercase;
        font-size: 4em;
    }
    & > section > span > span.name_player{
        width: 100px;
        font-size: 16px;
        text-transform: uppercase;
    }
    & > div#winner{
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        scale: 80%;
    }
}
/*NESTING CSS DOES NOT WORK WITH @KEYFRAMES*/
header > div#winner{
    animation: linear bam .8s;
}
@keyframes bam {
    0%{
        scale: 30%;
    } 80% {
        scale: 100%;
    } 100% {
        scale: 80%;
    }
}

main{
    &{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 60%;
    }
    & > section{
        display: flex;
        max-width: 300px;
        background-color: red;
        background-color: #80808070;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px white;
    }
    & > section > section > div{
        height: 100px;
        width: 100px;
        border: 1px solid black;
        font-size: 5em;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }
    & > section > section > div#b1{
        border-radius: 10px 0 0 0;
    }
    & > section > section > div#b3{
        border-radius: 0 10px 0 0 ;
    }
    & > section > section > div#b7{
        border-radius: 0 0 0 10px ;
    }
    & > section > section > div#b9{
        border-radius: 0 0 10px 0 ;
    }
}